@import 'vendor';
@import 'functions';
@import 'helpers';
@import 'typography';
@import 'vars';
@import 'layout';
@import 'base';
@import 'forms';

/* Components */
@import 'main-nav';
@import 'post';
@import 'signup';
@import 'main-footer';

.load-more {
  height: 150px;
  button {
    border: 1px solid black;
    background-color: transparent;
    padding: 1em 1.5em;
    font-size: rem(20px);
    font-family: var(--primary-font);
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: darken(#626262, 30%);
    }
  }
}